<footer>
    <div>
        <a href="https://twitter.com/AlZaudtke"><i class="fa fa-inverse fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/zaudtke"><i class="fa fa-inverse fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/alzaudtke/"><i class="fa fa-inverse fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="<%- url_for("atom.xml") %>"><i class="fa fa-inverse fa-rss" aria-hidden="true"></i></a>
    </div>
    <div>
        &copy; <script>var now = new Date();document.write(now.getFullYear());</script> <%- config.author %>
    </div>
</footer>