<div class="hero-section" style="background:url('/images/<%- image %>')  50% no-repeat;    background-size: cover; ">
        <div class="hero-section-text">
           <h1><%- header %></h1>
           <h5><%- subtitle %></h5>
       </div>
   </div>     