<!DOCTYPE html>
<html>
    <%- partial('_partial/headtag') %>
    <body>
        <div id="pagewrapper">
            <%- partial('_partial/header') %>
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
    </body>

<!-- Disqus Comments -->
<% if (theme.disqus_shortname && page.comments){ %>
    <script type="text/javascript">
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://zaudtke.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
    </script>
<% } %>
</html>