<!DOCTYPE html>
<html>
    <%- partial('_partial/headtag') %>
    <body>
        <div id="pagewrapper">
            <%- partial('_partial/header') %>
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
    </body>
</html>