<!DOCTYPE html>
<html>
    <!-- Head -->
    <%- partial('_partial/headtag') %>
    <body>
        <div id="pagewrapper">
            <%- partial('_partial/header') %>
            <%- body %>
        </div>
    </body>
</html>